html {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    min-height: 100%;
    margin: 0;
    background-color: #F1F1F1;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to right, #FC3A79, #FE88AD);
    padding: 20px;
    border-bottom: 4px solid #FE88AD;
}

footer {
    margin-top: auto;
    background: linear-gradient(to right, #FC3A79, #FE88AD);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.logo-container img {
    height: 40px;
}

.logo-container h1 {
    margin: 0;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.criteria-section {
    max-width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.criterion label {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    color: #100f0d;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slider-track {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 0 2px;
    color: #FC3A79;
    font-weight: 500;
}

.slider-track span {
    width: 20px;
    text-align: center;
}

.slider {
    width: 100%;
    accent-color: #FC3A79;
    height: 6px;
    border-radius: 999px;
    outline: none;
}

.number-input {
    width: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 999px;
    text-align: center;
    background-color: #ffe8ef;
    color: #FC3A79;
    font-weight: 500;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

/* Изменения хэдер, добавление кнопок */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-button {
    padding: 10px 20px;
    border-radius: 999px;
    border: 2px solid #ad00c9;
    background: linear-gradient(to left, #fc427e, #ff0053);
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

.auth-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 999px;
    border: 2px solid #ad00c9;
    background: linear-gradient(to left, #fc407d, #b15372);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.auth-button:hover::before {
    opacity: 1;
}

.auth-button:hover {
    background: white;
    color: #ffffff;
}

.criteria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.criteria-block {
    background-color: #eaeaea;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.criteria-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    color: #100f0d;
}



/* ======== деление критериев ======== */
.factor-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #e91e63;
    margin-top: -5px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
    margin: 40px auto 20px auto; /* сверху 40px, снизу 20px */
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #f7f7f7;
    border: 2px solid #fc3a79;
    border-radius: 999px;
    padding: 10px 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #999999; /* светлый цвет шрифта для плейсхолдера */

    min-width: 180px;
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.custom-select option {
    color: #100f0d; /* Цвет текста для опций */
}

.custom-select:focus {
    outline: none;
    border-color: #fc3a79;
    color: #333;
}

.custom-select option[disabled] {
    color: #999999; /* цвет плейсхолдера */
}

/* Большой дефис между селектами */
.select-separator {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right, #FC3A79, #FE88AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    line-height: 1;
}
