html {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    min-height: 100%;
    margin: 0;
    background-color: #F1F1F1;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to right, #FC3A79, #FE88AD);
    padding: 20px;
    border-bottom: 4px solid #FE88AD;
}

footer {
    margin-top: auto;
    background: linear-gradient(to right, #FC3A79, #FE88AD);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container img {
    height: 40px;
}

.logo-container h1 {
    margin: 0;
    font-size: 22px;
    color: white;
    font-weight: 600;
}



.criteria-section {
    max-width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.criterion label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #FC3A79;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.slider-track {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 0 2px;
    color: #FC3A79;
    font-weight: 500;
}

.slider-track span {
    width: 20px;
    text-align: center;
}

.slider {
    width: 100%;
    accent-color: #FC3A79;
    height: 6px;
    border-radius: 999px;
    outline: none;
}

.number-input {
    width: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 999px;
    text-align: center;
    background-color: #ffe8ef;
    color: #FC3A79;
    font-weight: 500;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

/* Горизонтальная линия с градиентом */
.gradient-hr {
    border: 0;
    height: 4px;
    background: linear-gradient(to right, #8900FF, #FD417E, #E7B091);
    border-radius: 999px;
    margin-top: 40px;
}
